.login{
    position: relative;
    padding: 8% 0 0;
  width: 365px;
    // z-index: 1;
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 45px;
    outline: 0;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}