.navBar{
    display: flex;
    height: 30px;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;//de ariba abajo
    
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        li{
            margin-right: 3rem;
            font-size: larger;
            
        }        
    }


}