.navBar{
    display: flex;
    height: 30px;
    background-color: grey;
    justify-content: center;
    align-items: center;//de ariba abajo
    
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        
        li{
            margin-right: 3rem;
            font-size: larger;
            a{
                color: white;

                text-decoration: none;
            }
        }        
    }


}