.navBar{
    display: flex;
    height: 30px;
    background-color: grey;
    justify-content: center;
   
    
    ul{
        list-style: none;
        display: flex;
        // justify-content: space-between;
        
        li{
            margin-right: 3rem;
            font-size: larger;
            align-items: center;
            
            a{
                color: white;
                
                text-decoration: none;
            }
        }        
    }


}