.aboutus{
    display: flexbox;
    margin: 5rem;
    font-style: oblique;
    min-height: 100vh;
    // background-color: pink;
    
    p{
        color: grey;
        
    }



    h1, h2{
        color: pink;
        padding: 2rem;
        
    }
}