.footer{
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    height: 200px;
    align-items: center;
    background-color: gray;
    justify-content: center;

    &_link{
        list-style: none;
        display: flex;
        margin-right: 3rem;
        
        
        li{
            margin-right: 3rem;
            

            }
        
        

    }



}