.footer{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    // height: 200px;
    flex-flow: row wrap;
    align-items: center;
    background-color: gray;
    justify-content: space-between;
    color: white;


    &__copyright {
        padding: 1rem;
        
    }

    &_link{
        list-style: none;
        display: flex;
        // margin-right: 3rem;

        margin: 0;
        
        
        li{
            margin-right: 3rem;

             a {
                color: white;

                text-decoration: none;
            }
            

            }
        
        

    }

    &__icons {
        padding: 1rem;
    }



}

.icon-facebook {
    margin-right:15px;
}