.navUser{
    height: 80px;
    display: flex;
    background: pink;
    padding: 0 1.5rem;
    transition: 0.3d ease all;
    align-items: center;
    font-family: Georgia, serif;
    justify-content: space-between;
    


    &__logo{
        font-size: 3rem;
        font-weight: bold;
        text-decoration: none;
        // align-items: center;
    }
    
     &__content{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        
        li{
            margin-right: 3rem;
            text-decoration: none;

           
        }
      


         
        
    }

}