@import './components/NavBar/NavBar';

.App {
    
  width: 100vw;
  // height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  // text-align: center;
  align-items: center;
}