.Order{
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



    .title{
        font-size: 1.5rem;       
    }
    .list{
        list-style-type: none;
        justify-content: end;        
        flex-direction: column;
        grid-gap: 1rem;        
    }
}
// &:hover { cursor: pointer; }